body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial';
}
body nav {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}
body nav a {
    text-decoration: none;
    color: #ffffff;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
ul, li, p {
    color: #333;
}
a {
    text-decoration: none;
    color: #820000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
}
p {
    font-size: 1em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}
ul.default-list li {
    line-height: 1.5em;
    margin-bottom: 8px;
}
ul.single-line li {
    margin-bottom: 4px;
}
div.profile-image img {
  width: 140px;
}
