<div class="search-tool"
      style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px; opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control search-content" id="search-content" style="position: fixed; top: 60px" placeholder="Search Blog">

    <div style="position: fixed; top: 16px; right: 16px; z-index: 9999;">
        <img src="{{ "/static/assets/img/search/cb-close.png" | prepend: site.baseurl }}" id="close-btn"/>
    </div>
</div>

<div style="position: fixed; right: 16px; bottom: 20px; z-index: 9999;">
    <img src="{{ "/static/assets/img/search/cb-search.png" | prepend : site.baseurl }}"  id="search-btn"  title="Double click Ctrl"/>
</div>

<div class="navbar-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation" id="navbar1">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a>
            </div>
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav nav-tabs navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" data-toggle="tab" href="{{ "blog/" | prepend: site.baseurl }}">{{ site.index.home }}</a>
                    </li>
                    {% for tag in site.data.blog %}
                        {% if tag.name != 'Donate' or site.donation %}
                        
                        <li class="nav-item">
                        {% if page.title == tag.name %}
                            <a class="nav-link active page-scroll" data-toggle="tab" href="{{ tag.href | prepend: site.baseurl }}">{{ tag.name }}</a>
                        {% else %}
                            <a class="nav-link page-scroll" data-toggle="tab" href="{{ tag.href | prepend: site.baseurl }}">{{ tag.name }}</a>
                        {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
{% if site.blog_carousel %}
{% include carousel.html %}
{% endif %}


<!-- Main Scripts -->
<script src="{{"/static/assets/blog-20210603.min.js"| prepend: site.baseurl }}"></script>
