<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <!--<ol class="carousel-indicators">
        <li data-bs-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-bs-target="#inSlider" data-slide-to="1"></li>
    </ol>
    -->
    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow animate__zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div
                class="lozad header-back"
                data-background-image="{{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[0].src }}"
                title="{{ site.data.index.banners[0].title }}"
                style="height: 78px; background-repeat: repeat-x;"
            >
            </div>
        </div>

        {% for banner in site.data.index.banners offset:1 %}
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow animate__zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="lozad header-back"
                data-background-image="{{ "/static/assets/img/"  | prepend: site.baseurl }}{{ banner.src }}"
                title="{{ banner.title }}"></div>
        </div>
        {% endfor %}

    </div>
    <!--<a class="carousel-item-left carousel-control" href="#inSlider" role="button" data-slide="carousel-control-prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-item-right carousel-control" href="#inSlider" role="button" data-slide="carousel-control-next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
    -->
</div>