$link-color: #0064FA;
$success-color: #1c84c6;
$warning-color: #f8ac59;
$active-color1: #0073b1;
$active-color2: #1a7bb9;
$active-color3: #1f90d8;
$light-gray1: #e7eaec;
$light-gray2: #f3f3f4;
$gray: #676a6c;
$white: #fff;

html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
  &:focus, &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h3, h4, h5 {
  margin-top: 5px;
  font-weight: 600;
}

.ml-auto {
  > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
  }
  > li.active > a {
    color: $white;
  }
}

.navbar-light .ml-auto > li > a {
  &:focus, &:hover {
    background-color: #293846;
    color: $white;
  }
}

.ml-auto.navbar-top-links > li > a {
  &:focus, &:hover {
    background-color: transparent;
  }
}

.navbar-light {
  background-color: transparent;
}

.ml-auto > li > a i {
  margin-right: 6px;
}

.navbar {
  border: 0;
}

.navbar-light {
  border-color: #2f4050;
}

.navbar-top-links li {
  display: inline-block;
  &:last-child {
    margin-right: 40px;
  }
}

.body-small .navbar-top-links li:last-child {
  margin-right: 0;
}

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}

.dd-item > button, code {
  white-space: nowrap;
}

.nav-header {
  padding: 33px 25px;
  background: url(patterns/header-profile.png) no-repeat;
}

.ml-auto > li.active {
  border-left: 4px solid $link-color;
  background: #293846;
}

.nav-header {
  a {
    color: #DFE4ED;
  }
  .text-muted {
    color: #8095a8;
  }
}

.navbar-form-custom {
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}

.ml-auto.navbar-top-links a {
  font-size: 14px;
}

.navbar-form-custom .form-control {
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: 14px;
  height: 60px;
  margin: 0;
  z-index: 2000;
}

.count-info .badge {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;
}

.navbar-light .landing_link a {
  background: $link-color;
  color: $white;
  &:hover {
    background: $link-color !important;
    color: $white;
  }
  span.badge {
    background: $white;
    color: $link-color;
  }
}

.navbar-expand-lg {
  border-bottom: 1px solid $light-gray1 !important;
  z-index: 2030;
  background: $light-gray2;
}

.navbar-static-top {
  background: $light-gray2;
}

.fixed-nav #wrapper {
  margin-top: 0;
}

body {
  &.fixed-nav #wrapper #page-wrapper {
    margin-top: 60px;
  }
  &.fixed-nav.fixed-nav-basic {
    .navbar-expand-lg {
      left: 220px;
    }
    &.body-small .navbar-expand-lg {
      left: 0;
    }
  }
}

.body-small .navbar-expand-lg {
  margin-left: 0;
}

body.canvas-menu .nav-header {
  padding: 33px 25px;
}

.white-bg {
  .navbar-expand-lg, .navbar-static-top {
    background: $white;
  }
}

.btn-secondary {
  &.active, &:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
  }
}

.btn-white {
  &.active, &:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
  }
}

.btn-info {
  &.active, &:active {
    background-image: none;
  }
}

.btn-primary {
  &.active, &:active {
    background-image: none;
  }
}

.btn-success {
  &.active, &:active {
    background-image: none;
  }
}

.canvas-menu #page-wrapper {
  margin: 0;
}

.link-block, .ml-auto.navbar-top-links .link-block a {
  font-size: 12px;
}

.contact-box, .light-navbar .navbar.navbar-static-top {
  background-color: $white;
}

.form-control:focus, .form-control:focus, .form-control:focus, .navbar-collapse, .form-inline {
  box-shadow: none;
}

.navbar-form-custom .form-control {
  &:focus, &:hover {
    box-shadow: none;
  }
}

.landing-page {
  span.navy {
    color: $link-color;
  }
  p.text-color {
    color: $gray;
  }
  a.navy-link {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $link-color;
    }
  }
  section p {
    color: #757575;
    font-size: 13px;
  }
  h1 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 200;
  }
  .navy-line {
    width: 60px;
    height: 1px;
    margin: 60px auto 0;
    border-bottom: 2px solid $link-color;
  }
  .navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
    > .container {
      padding-right: 0;
      padding-left: 0;
    }
    .navbar {
      padding: 0;
    }
  }
  .navbar-light {
    &.navbar-scroll {
      background-color: $white;
      border-color: $white;
      padding: 15px 0;
    }
    background-color: transparent;
    border-color: transparent;
    transition: all .3s ease-in-out 0s;
    .ml-auto li a {
      color: $white;
      font-family: 'Open Sans', helvetica, arial, sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  .navbar-nav > li > a {
    padding-top: 25px;
    border-top: 6px solid transparent;
  }
  .navbar-light {
    .navbar-nav > {
      .active > a {
        background: 0 0;
        color: $white;
        border-top: 6px solid $link-color;
        &:hover {
          background: 0 0;
          color: $white;
          border-top: 6px solid $link-color;
        }
      }
      li > a {
        &:focus, &:hover {
          color: $link-color;
          background: inherit;
        }
      }
      .active > a:focus {
        background: 0 0;
        color: $white;
      }
    }
    &.navbar-scroll .navbar-nav > .active > a:focus {
      background: 0 0;
      color: inherit;
    }
    .navbar-brand {
      &:focus, &:hover {
        background: $link-color;
        color: $white;
      }
      color: $white;
      height: auto;
      display: block;
      font-size: 14px;
      background: $link-color;
      padding: 15px 20px;
      border-radius: 0 0 5px 5px;
      font-weight: 700;
      transition: all .3s ease-in-out 0s;
    }
  }
  .navbar-scroll.navbar-light .ml-auto li a {
    color: $gray;
    &:hover {
      color: $link-color;
    }
  }
  .navbar-wrapper .navbar.navbar-scroll {
    border-bottom: 1px solid $light-gray1;
    border-radius: 0;
  }
  .ml-auto > li {
    &.active {
      border: none;
      background: inherit;
    }
    > a {
      padding: 25px 10px 15px;
    }
  }
  .navbar-scroll .navbar-nav > li > a {
    padding: 20px 10px;
  }
  .navbar-expand-lg {
    border: none !important;
    &.navbar-scroll {
      border-bottom: 1px solid $light-gray1 !important;
    }
  }
  .navbar.navbar-scroll .navbar-brand {
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
  }
  .header-back {
    background-position: 50% 0;
    background-repeat:  no-repeat;
  }
  .carousel {
    height: 78px;
  }
  .carousel-caption {
    z-index: 10;
  }
  .carousel .carousel-item {
    height: 0;
    background-color: #777;
  }
  .carousel-inner > .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  }
  .carousel-fade {
    .carousel-inner {
      .carousel-item {
        opacity: 0;
      }
      .active {
        opacity: 1;
        &.carousel-item-left, &.carousel-item-right {
          left: 0;
          opacity: 0;
          z-index: 1;
        }
      }
      .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
        opacity: 1;
      }
    }
    .carousel-control {
      z-index: 2;
    }
  }
  .carousel-control {
    &.carousel-item-left, &.carousel-item-right {
      background: 0 0;
    }
    width: 6%;
  }
  .carousel-inner {
    .container {
      position: relative;
    }
    overflow: visible;
  }
  .carousel-caption {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: auto;
    right: auto;
    text-align: left;
    &.blank {
      top: 140px;
    }
  }
  .carousel-image {
    position: absolute;
    right: 10px;
    top: 150px;
  }
  .carousel-caption {
    h1 {
      font-weight: 700;
      font-size: 38px;
      text-shadow: none;
      letter-spacing: -1.5px;
    }
    p {
      font-weight: 700;
      text-shadow: none;
    }
    h1, p {
      text-transform: uppercase;
    }
  }
}

@media (min-width: 768px) {
  .landing-page {
    .navbar-wrapper {
      .navbar {
        padding: 0;
        border-radius: 4px;
      }
    }
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

@media (max-width: 992px) {
  .landing-page .carousel-image {
    display: none;
  }
}

@media (max-width: 768px) {
  .landing-page {
    .carousel-caption {
      left: 5%;
      top: 80px;
      &.blank {
        left: 5%;
        top: 80px;
      }
      h1 {
        font-size: 28px;
      }
    }
    .navbar.navbar-scroll .navbar-brand {
      margin-top: 6px;
    }
    .navbar-light {
      background-color: $white;
      border-color: $white;
      padding: 15px 0;
      .navbar-nav > .active > a:focus {
        background: 0 0;
        color: inherit;
      }
      .ml-auto li a {
        color: $gray;
        &:hover {
          color: $link-color;
        }
      }
    }
    .navbar-wrapper .navbar {
      padding: 0;
      border-bottom: 1px solid $light-gray1;
      border-radius: 0;
    }
    .ml-auto > li > a {
      padding: 25px 10px 15px;
    }
    .navbar-nav > li > a {
      padding: 20px 10px;
    }
    .navbar .navbar-brand {
      margin-top: 6px;
      border-radius: 5px;
      font-size: 12px;
      padding: 10px;
      height: auto;
    }
    .navbar-light .navbar-nav > .active > a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
    .carousel-control {
      display: none;
    }
    .navbar .navbar-header {
      display: block;
      float: none;
    }
    .navbar-toggler {
      background-color: $white;
      padding: 9px 10px;
      border: none;
    }
  }
}
