---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

    {% if page.title != 'index' %}
        {% include head.html %}
    {% else %}
        {% include index_head.html %}
    {% endif %}

<body id="page-top" class="landing-page">

    <!-- favicon -->
    <link async rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">

    <!-- Main CSS -->
    <link async href="{{ "/static/assets/app-20190617.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link async href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">

    {% if page.title != 'index' %}
        {% include blog_header.html %}
    {% endif %}

    {{ content }}

    {% if page.title != 'index' %}
        {% include foot.html %}
    {% else %}
        {% include index_foot.html %}
    {% endif %}

</body>
</html>
